/HyperNews Portal/The news page/
/HyperNews Portal/lesson-info.yaml
/course-info.yaml
/course-remote-info.yaml
/requirements.txt
/test_helper.py
/HyperNews Portal/task/hstest/
/HyperNews Portal/Creating new news/
/HyperNews Portal/Main page/
/HyperNews Portal/Main page header/
/HyperNews Portal/Search news/
/HNvenv/
/.idea/
